  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between center">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon class="menu-icon">toc</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/">Home</button>
        <button mat-menu-item routerLink="/contact">Kontakt</button>
    </mat-menu>
    <div class="header-top">{{title}}</div>
    <button mat-icon-button routerLink="/hermes">
      <mat-icon class="menu-icon-easter-egg">android</mat-icon>
    </button>
  </div>
