.menu-icon {
  font-size: 40px;
  font-weight: 400;
  width: 100%;
  color: white;
  margin-left: 20px;
}

.menu-icon-easter-egg {
  font-size: 40px;
  font-weight: 400;
  width: 100%;
  color: #003866;
  padding-right: 20px;
}

.header-top {
  font-family: 'Courier New', monospace;
  font-size: 50px;
  color: white;
}
