.h1 {
    font-family: 'Courier New', monospace;
    font-size: 30px;
    font-weight: 600;
    padding-left: 60px;
}

.text {
    font-family: 'Courier New', monospace;
    font-size: 20px;
    padding-left: 100px;
    overflow:hidden;
}

.icon-fix {
    vertical-align: bottom;
    margin-left: -10px;
}