<app-content-page title="Home">
  <div fxLayout="column" fxLayoutGap="30px" fxFlex="0 0 calc(100%)" fxLayoutAlign="center center">
    <mat-card class="mat-elevation-z10" style="width: 85%;" fxLayoutGap="5px" fxLayout="column">
      <mat-card-title class="h1">
        About Me:
      </mat-card-title>
      <mat-divider inset="true"></mat-divider>
      <mat-card-content class="text">
        <span style="font-weight: 600;">Name:</span> KCT <br />
        <span style="font-weight: 600;">Alter:</span> 17 <br />
        <span style="font-weight: 600;">Wohnort:</span> Bayern <br />
        <span style="font-weight: 600;">Streamt seit:</span> 22.05.2020 <br />
        <span style="font-weight: 600;">Beschreibung:</span> Hello there, <mat-icon class="icon-fix">
          sentiment_statisfied_alt</mat-icon>
        <br />
        <div style="padding-left: 50px;">
          Ich bin ein kleiner Dulli aus Bayern, <br />
          der vor 5 Jahren mit Youtube angefangen hat. <br />
          Mittlerweile versuche ich mich nebenbei im Synchronsprechen, <br />
          Streamen und Skripte schreiben. <br />
          Ich bin primär Azubi als Fachinformatiker (Anwendungsentwicklung). <br />
          Deswegen solllte diese Website schon was hergeben <mat-icon class="icon-fix">mood</mat-icon>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="mat-elevation-z10" style="width: 85%" fxLayoutGap="5px" fxLayout="column">
      <mat-card-title class="h1">
        FAQ:
      </mat-card-title>
      <mat-divider inset="true"></mat-divider>
      <mat-card-content class="text">
        <div style="font-weight: 600;">Woher kommt der Name "KingOfCurlyTails" <br /></div>
        Ich liebe einfach den Charakter "King Julien" aus Madagaskar. <br />
        In seiner Serie, wie auch den Filmen, wird er des<br />
        öfteren der "König der Ringelschwänze" genannt. <br />
        Ich habe das dann einfach ins Englische übersetzt.<br />
        <div style="font-weight: 600; padding-top: 20px;">Warum streamst du?<br /></div>
        Mir geht es hauptsächlich um den "Moderatorischen" Faktor. <br />
        Einer meiner Träume ist es einfach irgendwann einmal <br />
        große Events zu moderieren oder für große Film Synchron zu sprechen. :)<br />
      </mat-card-content>
    </mat-card>
  </div>
</app-content-page>
