<app-content-page title="HERMES">
  <div fxLayout="column" fxLayoutGap="30px" fxFlex="0 0 calc(100%)" fxLayoutAlign="center center">
    <mat-card class="mat-elevation-z4" style="width: 85%;" fxLayoutGap="5px" fxLayout="column">
      <mat-card-title class="h1" style="text-align: -webkit-center;">
        Hermes
      </mat-card-title>
      <mat-divider inset="true"></mat-divider>
      <mat-card-content class="text" style="text-align: -webkit-center;">
        Hermes ist der treuste Zuschauer des Kanals! <br/>
        Du hast hiermit sein Easter-Egg gefunden. <br/>
        GLÜCKWUNSCH!
      </mat-card-content>
    </mat-card>
  </div>
</app-content-page>
