/* You can add global styles to this file, and also import other style files */
.header {
  font-family: 'Courier New', monospace;
  font-size: 50px;
}

.top-line {
  background-color: #003866;
  height: 75px;
  width: 600px;
  align-self: center !important;
  border-radius: 0 0 15px 15px;
}

.h1 {
    font-family: 'Courier New', monospace;
    font-size: 30px;
    font-weight: 600;
    padding-left: 60px;
}

.text {
    font-family: 'Courier New', monospace;
    font-size: 20px;
    padding-left: 100px;
    overflow:hidden;
}

.icon-fix {
    vertical-align: bottom;
    margin-left: -10px;
}

.body {
  background-color: #007BE0;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.active {
    background-color: grey;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
